<section
  class="modal visually-hidden"
  role="dialog"
  aria-labelledby="modal-title"
>
  <div class="modal_container">
    <button class="modal_close" aria-label="Закрити модальне вікно">×</button>

    <article class="modal_content">
      <figure class="modal_main-image">
        <img src="" alt="" />
      </figure>

      <div class="modal_gallery">
        <!-- зображення -->
      </div>

      <header class="modal__header">
        <h2 id="modal-title" class="modal_title">Назва товару</h2>
        <p class="modal_category">Категорія</p>
        <p class="modal_price">Ціна</p>
        <p class="modal_rating">★★★★★<!-- затичка --></p>
      </header>

      <section class="modal__colors">
        <h3 class="visually-hidden">Вибір кольору</h3>
        <p>Колір:</p>
        <form class="modal_color-options">
          <!-- Кольори  -->
        </form>
      </section>

      <p class="modal_description">Опис товару</p>

      <p class="modal_size">Розміри: ---</p>

      <button class="modal_order-btn" type="button">
        Перейти до замовлення
      </button>
    </article>
  </div>
</section>
